<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>recipe box on the search result page</title>
        <link rel="stylesheet" type ="text/css" href="../styles/cardstyleWide.css">
    </head>
    <body>
        <div class="box" id="Br6v40acvTTGoMvvdbLLRBPplHF3-97">
            <div class="name"> 
               Recipe Name
                    <i class="material-icons">more_vert
                        <div class="dropdown">
                            <a href="#"><i class="material-icons">edit</i>Edit</a>
                            <a href="#"><i class="material-icons">delete</i>Delete</a>
                        </div>
                    </i>
            </div>
            <img src="../images/photos/pasta.jpg" alt="food photo" style="width: 420px;height: auto;">
    
        </div>
    </body>
</html>