<!DOCTYPE html>
<html>
    <head>
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
        <title>recipe box on the search result page</title>
        <link rel="stylesheet" type ="text/css" href="../styles/cardstyleWide.css">
    </head>
    <body>
        <div class="box">
            <div class="name"> 
               Recipe Name
            </div>
            <img src="../images/photos/pasta.jpg" alt="food photo" style="width: 250px;height: auto;"> 
            <div class="summary">
                <div class="chef">By the best chef</div>
                <div class="cookingTime">Cooking Time: 20 min</div>
                <div class="ingredient">Main ingredient: Tomato</div>
            </div>
            
        </div>
    </body>
</html>