<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="../styles/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="../styles/recipe_create.css" />
    <link rel="stylesheet" type="text/css" href="../styles/main.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="../styles/recipe-content.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400&display=swap"
      rel="stylesheet"
    />

    <!-- JS to render Recipe Content Panel -->
    <script src="https://www.gstatic.com/firebasejs/7.3.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.1.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.1.1/firebase-database.js"></script>
    <script src="../scripts/index.js"></script>
    <script src="../scripts/recipe-content.js" type="module"></script>

    <title>Eggcellent Recipe Content</title>
  </head>
  <script>
    function addRecipe() {
      let addBtnIcon = document.querySelector('#recipe-card-add-btn');
      if (addBtnIcon != null) {
        addBtnIcon.innerHTML = 'favorite';
        addBtnIcon.id = 'recipe-card-added-btn';
        document.querySelector('span.my-recipe-label').innerHTML = 'My Recipe!';
      } else {
        addBtnIcon = document.querySelector('#recipe-card-added-btn');
        addBtnIcon.innerHTML = 'favorite_border';
        addBtnIcon.id = 'recipe-card-add-btn';
        document.querySelector('span.my-recipe-label').innerHTML =
          'Add to My Recipe';
      }
    }
  </script>
  <body>
    <section id="recipe-name" class="container-fluid recipe-create-edit-panel">
      <div class="card">
        <div class="card-header">
          <div
            class="
              d-grid
              gap-2
              d-md-flex
              justify-content-md-end
              recipe-card-header-space
            "
          >
            <button class="edit-recipe-btn btns">
              <i
                id="recipe-card-edit-btn"
                class="material-icons"
                onclick="editRecipe()"
                >edit</i
              >
              <span class="header-label"> Edit </span>
            </button>
            <button class="delete-recipe-btn btns">
              <i
                id="recipe-card-delete-btn"
                class="material-icons"
                onclick="deleteRecipe()"
                >delete</i
              >
              <span class="header-label"> Delete </span>
            </button>
            <button class="add-recipe-btn btns" onclick="addRecipe()">
              <i id="recipe-card-add-btn" class="material-icons"
                >favorite_border</i
              >
              <span class="my-recipe-label"> Add to My Recipe </span>
            </button>
            <button class="close-recipe-btn">
              <i
                id="recipe-card-close-btn"
                class="material-icons"
                onclick="closePanel()"
                >close</i
              >
            </button>
          </div>
        </div>
        <div class="card-body recipe-name">
          <span><a href="" class="recipe-link"> Recipe Name </a></span>
        </div>
        <div class="card-body recipe-body row justify-content-center">
          <div class="content-left col-4">
            <img src="/source/images/recipes/recipe1.JPG" class="recipe-img" />
            <img src="/source/images/nutritionFacts.png" class="nutr-label" />
          </div>
          <div class="content-right col-7">
            <div class="recipe-info-box">
              <span class="fs-4">RECIPE INFO</span>
              <hr />
              <p class="recipe-info">
                Recipe By: <br />
                Cooking Time: <br />
                Servings: <br />
              </p>
            </div>
            <div class="ingred-list">
              <span class="fs-4">INGREDIENTS</span>
              <hr />
              <div class="ingreds">
                <ul>
                  <li>Egg 1</li>
                  <li>Salt 5g</li>
                </ul>
              </div>
            </div>
            <div class="step-list">
              <span class="fs-4">STEPS</span>
              <hr />
              <div class="steps">
                <p class="step-box">
                  This is a long paragraph.<br />
                  It is determined by user input.
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
  </body>
</html>
