<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Eggcellent</title>
    <link rel="stylesheet" href="/source/styles/main.css" />
    <link rel="stylesheet" href="/source/styles/contact-us.css" />
    <link rel="stylesheet" href="/source/styles/bootstrap.min.css" />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />
    <title>Eggcellent Contact Us</title>
  </head>
  <body>
    <header id="top">
      <div>
        <a href="/source/components/main.html"
          ><img src="/source/images/logo.JPG"
        /></a>
      </div>
    </header>
    <section id="navbar">
      <div class="nav">
        <div class="All">
          <a href="/source/components/main.html">
            <i class="material-icons">menu</i>
            All Recipes
          </a>
        </div>
        <div class="My-Recipes">
          <a href="/source/components/my_recipes.html">
            <i class="material-icons">restaurant_menu</i>
            My Recipes
          </a>
        </div>
        <div class="Account">
          <a href="/source/components/account.html">
            <i class="material-icons">account_circle</i>
            Account
          </a>
        </div>
      </div>
    </section>
    <main>
      <div class="card">
        <div class="card-header" id="void"></div>
        <div class="card-header">Customer Service</div>
        <div class="card-body">
          <div class="contact">
            <p>Phone: 123-456-7890<br />Email: eggcellent@gmail.com</p>
          </div>
        </div>
      </div>
    </main>
  </body>
  <footer>
    <a href="/source/components/contact-us.html">Contact Us</a>
  </footer>
</html>
