<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tagssss -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <!-- Required CSS. Bootstrap MUST be imported -->
    <link
      rel="stylesheet"
      type="text/css"
      href="/source/styles/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="/source/styles/recipe-content.css"
    />
    <link rel="stylesheet" type="text/css" href="/source/styles/main.css" />
    <link
      rel="stylesheet"
      type="text/css"
      href="/source/styles/my_recipe.css"
    />
    <link
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet"
    />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap"
      rel="stylesheet"
    />

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://www.gstatic.com/firebasejs/7.3.0/firebase-app.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.1.1/firebase-auth.js"></script>
    <script src="https://www.gstatic.com/firebasejs/6.1.1/firebase-database.js"></script>
    <script src="/source/scripts/recipe_edit.js" type="module"></script>
    <script src="/source/scripts/recipe-content.js"></script>
    <script src="/source/scripts/recipe_create.js" type="module"></script>
    <script src="/source/scripts/index.js"></script>
    <script src="/source/scripts/my_recipes.js" type="module"></script>
    <title>Eggcellent Recipe</title>
  </head>
  <body>
    <header id="top">
      <div>
        <a href="/source/components/main.html"
          ><img src="/source/images/logo.JPG"
        /></a>
      </div>
    </header>
    <section id="navbar">
      <div class="nav">
        <div class="All">
          <a href="/source/components/main.html">
            <i class="material-icons">menu</i>
            All Recipes
          </a>
        </div>
        <div class="My-Recipes">
          <a href="/source/components/my_recipes.html" style="color: #fde79b">
            <i class="material-icons" style="color: #fde79b">restaurant_menu</i>
            My Recipes
          </a>
        </div>
        <div class="Account">
          <a href="/source/components/account.html">
            <i class="material-icons">account_circle</i>
            Account
          </a>
        </div>
      </div>
    </section>
    <main>
      <section class="page-up-btn-group">
        <a class="page-up-btn" href="#top">
          <i class="material-icons">arrow_drop_up</i>
        </a>
      </section>
      <section class="page-down-btn-group">
        <a class="page-down-btn" href="#end">
          <i class="material-icons">arrow_drop_down</i>
        </a>
      </section>
      <section class="main-action-group">
        <div class="actions">
          <div class="search-recipe-box">
            <i class="material-icons">search</i>
            <input
              type="text"
              class="form-control"
              placeholder="Search In My Recipes"
            />
          </div>
          <div class="recipe-create-btn">
            <button id="create-recipe-btn" class="create-recipe-btn btn">
              <i id="recipe-card-create-btn" class="material-icons"
                >library_add</i
              >
              <span class="creat-btn-label"> Create New Recipe </span>
            </button>
          </div>
        </div>
        <div class="d-flex justify-content-end">
          <span class="total-recipe-count">Total 0 Recipes</span>
        </div>
      </section>
    </main>
    <div id="end"></div>
  </body>
  <footer>
    <!-- Feel free to use onclick="showContact() in contact.js -->
    <a href="/source/components/contact-us.html">Contact Us</a>
  </footer>
  <section class="recipe-expand"></section>
</html>
