body {
  margin: 0;
  font-family: 'Roboto', sans-serif;
  background: linear-gradient(
    to right,
    #dbdcd7 0,
    #dbdcd7 10%,
    #8c8c7d 10%,
    #8c8c7d 90%,
    #dbdcd7 90%,
    #dbdcd7 100%
  );
}

header {
  background-color: #fde79b;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0px;
}

body > header > div > a > img {
  width: 100%;
  height: 70px;
}

header > div > a {
  width: 0;
  height: 0;
}

.nav {
  background-color: #405262;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  height: 32px;
}

.nav a {
  color: white;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 17px;
}

main {
  width: 80%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 30px;
  margin-left: 10%;
  margin-bottom: 45px;
}

.nav a:hover > i,
.nav a:hover,
footer > a:hover {
  color: #fde79b;
}

i.material-icons {
  color: white;
  margin-right: 3px;
  font-size: 30px;
}

body > section:nth-child(2) > div > div.All > a > i,
body > section:nth-child(2) > div > div.All > a {
  color: #fde79b;
}

footer {
  background-color: #405262;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 5%;
  display: flex;
  align-items: center;
  justify-content: center;
}

footer > a {
  font-size: 18px;
  color: white;
  text-decoration: none;
}

.page-up-btn-group {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  top: 7rem;
  right: 4vw;
}

.page-down-btn-group {
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: end;
  bottom: 3rem;
  right: 4vw;
}

a.page-up-btn,
a.page-down-btn {
  background-color: white;
  height: 48px;
  width: 48px;
  cursor: pointer;
  border-radius: 60px;
  box-shadow: 0px 4px 4px 0px #00000040;
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
}

a.page-up-btn > i,
a.page-down-btn > i {
  color: #fde79b;
  font-size: 62px;
  margin-right: 0px;
}
