/* stylelint-disable */
.card-header {
  background-color: white;
  border-color: white;
  height: 50px;
}

.card-header:first-child {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.recipe-create-panel {
  margin: 0 100px 0 100px;
}

.card {
  top: 10px;
  border-width: 0;
  position: absolute;
  width: 65%;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  z-index: 100;
  margin-left: 10%;
  margin-right: 10%;
}

.recipe-save-btn {
  background-color: #405263;
  border-width: 0;
  padding-left: 3%;
  padding-right: 3%;
  margin-top: 3px;
  font-size: medium;
  border-radius: 10px;
  font-weight: bold;
}

.recipe-browse-btn {
  background-color: #405263;
  /* text-align: center; */
  font-size: medium;
  padding-left: 25%;
  padding-right: 25%;
  border-radius: 15px;
  font-weight: bold;
  margin-bottom: 1vw;
  /* width: 80%;
  height: auto; */
}

.recipe-save-btn:hover,
.recipe-browse-btn:hover {
  background-color: #fde79b;
  color: #405263;
  font-weight: bold;
}

.recipe-save-btn:focus,
.recipe-browse-btn:focus {
  background-color: #405263;
  color: white;
}

.recipe-card-header-space {
  display: inline-block;
  height: 100%;
}

#recipe-card-close-btn {
  color: #405263;
  font-size: 2.7vw;
}

.recipe-card-recipe-name {
  background-color: #fde79b;
}

#recipe-name-input {
  border-color: white;
}

#recipe-name-input::placeholder {
  text-align: center;
}

.recipe-card-input-recipe-name {
  padding: 0 20% 0 20%;
}

.recipe-img-box {
  background-color: #fde79b;
  width: 100%;
  height: 16vw;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.recipe-img {
  width: 90%;
  background-color: white;
  border-radius: 15px;
  text-align: center;
}

#recipe-image-upload-icon {
  font-size: 4vw;
  margin-top: 1vw;
  color: #405263;
}

.drag-drop-text {
  margin: 0 0 0.3vw 0;
  font-size: smaller;
}

.recipe-content-right {
  background-color: rgba(180, 180, 171, 0.71);
}

.recipe-name-time-input {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 1vw;
  margin-bottom: 0.5vw;
  padding: 0 0.7vw 0 0.7vw;
}

#recipe-chief-name-input,
#recipe-time-input,
#recipe-servings-input,
.ingred-quantity {
  margin-left: 1vw;
  width: 70%;
}

.img-input {
  display: none;
}

.close-recipe-btn {
  border: 0px;
  background-color: transparent;
}

.steps {
  margin: 0 0 1vw 0;
  height: 210px;
}

#step-input {
  height: 210px;
}

#units {
  padding-left: 0.4vw;
}

#unit-list {
  width: auto;
}

.ingred-item {
  display: flex;
  margin: 0 0 1vw 0;
}

.add-ingred-btn,
.remove-ingred-btn {
  background-color: transparent;
  border: 0px;
  display: flex;
}

.hidden {
  display: none;
}

.add-ingred-btn:hover > p,
.remove-ingred-btn:hover > p {
  text-decoration: underline;
}

#add-ingred-icon,
#remove-ingred-icon {
  font-size: 2vw;
  color: #405263;
}

.add-ingred-text {
  padding: 1.2% 0 0 0;
  font-size: 16px;
  margin-bottom: auto;
}

.remove-ingred-text {
  font-size: 16px;
  margin-bottom: auto;
}
