/* stylelint-disable */
.btns {
  border-width: 0;
  padding-left: 2%;
  padding-right: 2%;
  margin-top: 3px;
  font-size: medium;
  font-weight: bold;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.edit-recipe-btn,
.delete-recipe-btn {
  width: 8vw;
  background-color: #405263;
  border-radius: 50px;
}

.edit-recipe-btn:hover,
.delete-recipe-btn:hover {
  background-color: #fde79b;
}

.edit-recipe-btn:hover > *,
.delete-recipe-btn:hover > * {
  color: #405263;
}

.add-recipe-btn {
  border-radius: 10px;
  background-color: #ffefbb;
}

.add-recipe-btn:hover {
  background-color: #fde79b;
}

#recipe-card-added-btn {
  color: crimson;
  font-size: 2vw;
}

.header-label {
  color: white;
}

.my-recipe-label {
  color: #405263;
}

#recipe-card-add-btn {
  color: #405263;
  font-size: 2vw;
}

#recipe-card-edit-btn,
#recipe-card-delete-btn {
  font-size: 2vw;
}

.recipe-name {
  background-color: #fde79b;
  font-size: 24px;
  font-weight: bolder;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4vw;
}

a.recipe-link {
  text-decoration: none;
  color: #405263;
}

a.recipe-link:hover {
  text-decoration: underline;
}

.recipe-img {
  width: 100%;
  height: 14vw;
}

.nutr-label {
  width: 90%;
  margin-top: 1vw;
  margin-left: 5%;
  margin-right: 5%;
}

hr {
  display: block;
  margin-top: 0;
  margin-bottom: 0.5em;
  margin-left: auto;
  margin-right: auto;
  border-style: inset;
  border-width: 1px;
}

.recipe-create-edit-panel {
  display: flex;
  justify-content: center;
}

#recipe-card-close-btn {
  color: #405263;
  font-size: 2.7vw;
}

.close-recipe-btn {
  border: 0px;
  background-color: transparent;
}

.card-header {
  background-color: white;
  border-color: white;
  height: 50px;
}

.card-header:first-child {
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}

.card {
  top: 10px;
  border-width: 0;
  position: absolute;
  width: 65%;
  border-radius: 20px;
  font-family: 'Roboto', sans-serif;
  font-size: 18px;
  z-index: 100;
}

.recipe-card-header-space {
  display: inline-block;
  height: 100%;
}
