header{
    background-color: #FDE79B;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
header img{
    width: 14em;
    height: 4.5em;
}
.nav{
    background-color: #405262;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 30px;
}
.nav a{
    color: white;
    font-family: 'Roboto', sans-serif;
}
main{
    background-color: #8c8c7d;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
}
.nav a:hover{
    color: #FDE79B;
}
.nav img{
    height: 15px;
    width: 20px;
}